html {
    background-color: black;
    height: 100vh;
}

* {
    font-family: 'Staatliches', cursive;
}

body {
    background-color: black;
    color: white;
}

header {
    background-color: rgb(158, 4, 4);
}

.marvel-result-name {
    font-size: 20px;
    color: white;
    list-style: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.hide {
    display:none;
}

.show {
    display: block;
}